magento1/app/code/Custom/Customapimodule/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="fieldInfo">
                <sequence>
                    <element name="entity_id"   type="xsd:string"/>
                    <element name="name"        type="xsd:string"/>
                </sequence>
            </complexType>
            <complexType name="fieldInfoArray">
                <complexContent>
                    <restriction base="soapenc:Array">
                        <attribute ref="soapenc:arrayType" wsdl:arrayType="typens:fieldInfo[]" />
                    </restriction>
                </complexContent>
            </complexType>
           
            <complexType name = "customerEntity">
                <sequence>
                    <element name = "first_name"    type = "xsd:string" />
                    <element name = "last_name"     type = "xsd:string" />
                    <element name = "email"         type = "xsd:string" />
                    <element name = "website_id"    type = "xsd:string" />
                    <element name = "group_id"      type = "xsd:string" />
                </sequence>
            </complexType>
             <complexType name = "customerEntityArray">
                <complexContent>
                    <restriction base = "soapenc:Array">
                        <attribute ref = "soapenc:arrayType" wsdl:arrayType = "typens:customerEntity[]" />
                    </restriction>
                </complexContent>
            </complexType>
        </schema>
    </types>
    <message name = "customapimoduleApiRegisterRequest">
        <part name = "register"     type = "typens:customerEntityArray" />
    </message>
    <message name = "customapimoduleApiRegisterResponse">
        <part name = "customerid" type = "xsd:ArrayOfString" />
    </message>
    <message name="customapimoduleApiListRequest">
        <part name="sessionId" type="xsd:string" />
    </message>
    <message name="customapimoduleApiListResponse">
        <part name="products" type="typens:fieldInfoArray" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
        <operation name="customapimoduleApiList">
            <documentation>List of products</documentation>
            <input message="typens:customapimoduleApiListRequest" />
            <output message="typens:customapimoduleApiListResponse" />
        </operation>
        <operation name = "customapimoduleApiRegister">
            <documentation>Create Customer</documentation>
            <input message = "typens:customapimoduleApiRegisterRequest" />
            <output message = "typens:customapimoduleApiRegisterResponse" />
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http" />
        <operation name="customapimoduleApiList">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
        <operation name="customapimoduleApiRegister">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action" />
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </port>
    </service>
</definitions>